<launch>
    <node name="humanoid_core" 
            pkg="humanoid_motion"  
            type="main.py" 
            output="screen"
            args="$(find humanoid_Simulation_Environment_Establish)/">  
        <param name="model_path" value="$(find humanoid_Simulation_Environment_Establish)/humanoid.xml"/>  <!-- humanoid.xml文件目录 -->
        <param name="kp_gain" value="5.0"/>
    </node>
</launch>